.nav-wrapper{
    background-color: #6f4037;
}

.slider .indicators .indicator-item.active{
    background-color: #6f4037;
}

.move{
    margin-top: 60px;
    margin-bottom: 20px;
}

.parallax-container{
    min-height: 280px;
    height: auto;
}

.icon-coffee{
    color:#6f4037;
}

.footer-one{
    background-color: #462822;
}
.footer-two{
    background-color: #3d150d;
}
.brand-logo{
    margin-left: 20px;
}
.icons{
    padding-top:20px;
    
}
